<h1>Here are all your images lol</h1>

<%= @images.size %> total:
<ul>
  <li><%= pluralize(@photos.size, 'photo') %></li>
  <li><%= pluralize(@videos.size, 'video') %></li>
  <li><%= pluralize(@links.size, 'link') %></li>
</ul>

<%= link_to "Upload CSV data", "/upload" %><br><br>

<%= link_to "Add image", new_image_path %><br><br>

<%= form_with url: images_path, method: :get do |f| %>
  <%= f.label :tag_query, "Search by tag(s):" %>
  <%= f.text_field :tag_query %>
  <%= f.select(:qtype, ['any','exact','exclude']) %>
  <%= link_to "See all tags", "/tags" %><br>

  <%= f.label :title_query, "Search by title:" %>
  <%= f.text_field :title_query %><br>

  <%= f.submit "Search" %>
<% end %>

<% if @tag_query && @tag_query != "" %>
  <h3>Displaying images with tag(s): <%= params[:tag_query] %></h3>
<% end %>
<% if @title_query && @title_query != "" %>
  <h3>Displaying images with title containing: <%= params[:title_query] %></h3>
<% end %>
<% if @tag_query || @title_query %>
  <%= link_to "Show all", images_path %>
<% end %>

<div class="page-blur">
<div class="show-image"></div></div>

<div class="images-index">
  <% if @photos.any? %>
    <% @photos.each do |photo| %>
      <div class="image-wrapper" id="image-wrapper-<%= photo.id %>">
        <%= link_to image_tag(photo.url, title: photo.title), photo, remote: true %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="videos-container">
  <div class="videos-index">
    <% if @videos.any? %>
      <% @videos.each do |video| %>
        <%= link_to video.title, "/play/#{video.id}", remote: true %>
      <% end %>
    <% end %>
  </div>
  <div class="video-player">
    Select a video on the left!
  </div>
</div>

<div class="links-index">
  <% if @links.any? %>
    <% @links.each do |link| %>
      <%= link_to link.title, link.url, target: "_blank" %> (<%= link_to "edit", edit_image_path(link.id) %>)<br>
    <% end %>
  <% end %>
</div>
