<h1>Here are all your images lol</h1>

<%= @images.size %> total:
<ul>
  <li><%= pluralize(@photos.size, 'photo') %></li>
  <li><%= pluralize(@videos.size, 'video') %></li>
  <li><%= pluralize(@links.size, 'link') %></li>
</ul>

<%= form_with url: "/images/upload", multipart: true do |f| %>
  <%= f.file_field :file %><br>
  <%= f.submit "Upload CSV" %>
<% end %>

<%= link_to "Add image", new_image_path %><br><br>

<%= form_with url: images_path, method: :get do |f| %>
  <%= f.label :query, "Search for:" %>
  <%= f.text_field :query %>
  <%= f.submit "Search" %>
  <%= f.select(:qtype, ['any','exact','exclude']) %>
<% end %>

<% if params[:query] %>
  <h3>Displaying images with tag(s): <%= params[:query] %></h3>
  <%= link_to "Show all", images_path %>
<% end %>

<div class="images-index">
  <% if @photos.any? %>
    <% @photos.each do |photo| %>
      <div class="image-wrapper" id="image-wrapper-<%= photo.id %>">
        <%= link_to image_tag(photo.url), photo %>
        <%= link_to "edit", edit_image_path(photo.id), class: "edit-image-link" %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="other-index">
  <div class="videos-index">
    <% if @videos.any? %>
      <% @videos.each do |video| %>
        <details>
          <summary><%= video.title %></summary>
          <%= link_to video_tag(video.url, controls: true, preload: 'none'), video %>
        </details>
      <% end %>
    <% end %>
  </div>
  <div class="links-index">
    <% if @links.any? %>
      <% @links.each do |link| %>
        <%= link_to link.title, link.url, target: "_blank" %> (<%= link_to "edit", edit_image_path(link.id) %>)<br>
      <% end %>
    <% end %>
  </div>
</div>
